@charset utf-8;
body {
	background: #eeeeff;
}

.entry {
	margin-top: 50px;
	margin-bottom: 50px;
}

.conditions {
	margin-bottom: 120px;
}

.percent {
	margin-top: 120px;
}
.circle {
	width: 160px;
	height: 160px;
	padding: 10px;
	margin: 20px auto;
	font-size: 56px;
	text-align: center;
	line-height: 130px;
	border-radius: 50%;
	border: 5px solid #baff00;
	box-shadow: 0 0 10px #000;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}