@charset utf-8;
.entry {
	margin-bottom: 50px;
}

.conditions {
	margin-bottom: 120px;
}

.dropdown-menu li input{
	width: 40px;
	text-indent: 4px;
	color: #222;
}

.percent {
	margin-top: 80px;
}
.circle {
	width: 160px;
	height: 160px;
	padding: 10px;
	margin: 0 auto;
	font-size: 56px;
	text-align: center;
	line-height: 130px;
	border-radius: 50%;
	border: 5px solid #baff00;
	box-shadow: 0 0 10px #000;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.info {
	margin-top: 60px;
	text-align: center;
	font-size: 16px;
}