<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>图表分析页面</h1>
            <hr>
            <div class="col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    $(function() {

    })
    </script>
</body>

</html>
