{% extends "bootstrap/base.html" %} 
{% block title %} Home{% endblock %}


 {% block scripts %} {{ super() }}
<script type="text/javascript" src="static/js/home.js"></script>
{% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="static/css/home.css" >
<div class="container entry">
    <div class="row conditions">
    	<div class="col-md-12">
    	<h1>PySpider 落网爬虫系统</h1>
    	<hr>
	        <div class="col-md-4">
	        	<ul class="nav navbar-nav" data-type="type">
		            <li class="dropdown">
		               资源类型：
		               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                    <span>选择目标资源类型</span>
		                    <strong class="caret"></strong>
		                </a>
		                <ul class="dropdown-menu">
		                    <li data-restype="all"><a href="#">图片+音乐</a></li>
		                    <li data-restype="pic"><a href="#">图片</a></li>
		                    <li data-restype="mp3"><a href="#">音乐</a></li>
		                </ul>
		            </li>
		        </ul>
	        </div>
	        <div class="col-md-4">
	        	<ul class="nav navbar-nav" data-type="interval">
		            <li class="dropdown">
		                更新时间间隔：
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                    <span>选择爬虫时间间隔</span>
		                    <strong class="caret"></strong>
		                </a>
		                <ul class="dropdown-menu">
		                    <li data-interval="1800"><a href="#">30 min</a></li>
		                    <li data-interval="10800"><a href="#">3 h</a></li>
		                    <li data-interval="86400"><a href="#">24 h</a></li>
		                    <li>
		                    	<a href="#">自定义 <input type="number" maxlength="12" placeholder="建议值 > 600"> 秒 </a>
		                    </li>
		                </ul>
		            </li>
		        </ul>
	        </div>

	        <div class="col-md-4">
	        	<ul class="nav navbar-nav" data-type="range">
		            <li class="dropdown">
		            	期刊范围：
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                    <span>选择抓取期刊范围</span>
		                    <strong class="caret"></strong>
		                </a>
		                <ul class="dropdown-menu">
		                    <!-- <li data-range="backward:5"><a href="#">往前5期</a></li> -->
		                    <!-- <li data-range="forward:1"><a href="#">往后1期</a></li>
		                    <li data-range="forward:2"><a href="#">往后2期</a></li>
		                    <li data-range="forward:3"><a href="#">往后3期</a></li>
		                    <li data-range="forward:4"><a href="#">往后4期</a></li>
		                    <li data-range="forward:5"><a href="#">往后5期</a></li> -->
		                    <li data-range="volFrom:volTo"><a href="#">
								<input id="volFrom" maxlength="4" type="number" value="" placeholder="开始"> 期
								到 <input id="volTo" maxlength="4" type="number" value="" placeholder="结束"> 期
		                    </a></li>
		                </ul>
		            </li>
		        </ul>
	        </div>
	    </div>
    </div>
    <hr>
    <div class="row">
    	<div class="col-md-12">
	    	<div class="col-md-4">
	    		<button id="startCrawl" class="btn btn-primary btn-block btn-lg">
					<i class="glyphicon glyphicon-ok"></i>
					<span id="crawlText">开始抓取</span></button>
					
	    	</div>
	    	<div class="col-md-4">
	    		<button id="showResult" class="btn btn-warning btn-block btn-lg">
					<i class="glyphicon glyphicon-eye-open"></i>
	    		资源展示</button>
	    	</div>
	    	<div class="col-md-4">
	    		<button id="showChart" class="btn btn-success btn-block btn-lg">
					<i class="glyphicon glyphicon-picture"></i>
	    		图表分析</button>
	    	</div>
	    </div>
    </div>

    <div class="row percent">
    	<div class="circle">
    		<span><i id="percentage">0</i>%</span>
    	</div>

    	<div class="info">
    		<button id="stopCrawl" class="btn btn-danger" style="display: none;">
					<i class="glyphicon glyphicon-remove"></i>
					<span id="crawlText">停止本次任务</span></button>
    		<div class="label-label-info">
    			音乐文件的抓取相对比较缓慢，请设置合适的间隔时间和抓取的期刊数
    		</div>
    	</div>
    </div>
</div>
{% endblock %}
