{% extends "bootstrap/base.html" %} 
{% block title %}PySpider{% endblock %} 

{% block scripts %}
{{ super() }}
	<script src="http://127.0.0.1:5050/scripts/base.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<hr>
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
        	<li role="presentation" class="active"><a href="#">Picture</a></li>
            <li role="presentation"><a href="#">Music</a></li>
        </ul>
        <div class="well">
            <ul>
            	{% for pic in pics %}
            		<li>
						<img src="{{pic}}" >
            		</li>
            	{% endfor %}
            </ul>
        </div>
        <div class="well hidden">
            
        </div>
    </div>
</div>
{% endblock %}
