{% extends "bootstrap/base.html" %} 
{% block title %} PySpider{% endblock %}


 {% block scripts %} {{ super() }}
<script type="text/javascript" src="static/js/listResult.js"></script>
{% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="static/css/style.css" >
<div class="container result">
    <div class="row">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>选择日期</span>
                    <strong class="caret"></strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">aaa</a></li>
                    <li><a href="#">bbb</a></li>
                    <li><a href="#">ccc</a></li>
                    <li><a href="#">ddd</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>选择期刊号</span>
                    <strong class="caret"></strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">aaa</a></li>
                    <li><a href="#">bbb</a></li>
                    <li><a href="#">ccc</a></li>
                    <li><a href="#">ddd</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row result-container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Picture</a></li>
            <li role="presentation"><a href="#">Music</a></li>
        </ul>
        <div class="well">
            <div class="row">
                {% for pic in pics %}
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img data-src="{{pic}}" class="thumb" alt="...">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="well">
            <div class="row">
                {% for mp3 in mp3s %}
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <span class="glyphicon glyphicon-music"></span> {{mp3}}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
